.ImageLinkContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 20px;
}

@media (max-width: 1216px) {
    .ImageLinkContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .ImageLinkContainer {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .ImageLinkContainer a div {
        padding-inline: 0% !important;
    }
}

.title {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 600;
    @media (max-width: 400px) {
        font-size: 20px !important;
    }
}

.description {
    font-weight: 400;
    font-size: 14.5px !important;
    line-height: 19.49px !important;
    width: 346px;
    color: #6D6A73 !important;
}


html[data-theme='dark'] .title {
    color: white !important;
}